[user]
	name = Eric B. Decker
	email = cire831@gmail.com
[core]
	editor = emacsclient
	autocrlf = input
[alias]
	b 	= branch
	br	= branch
	c 	= config
	ci	= commit
	co	= checkout
	cp	= cherry-pick
	d	= diff
	graph	= log --graph --full-history --all --pretty=format:"%h%x09%d%x20%s"
	lp	= log -p
	r 	= remote
	rem	= remote
	st	= status
	s 	= status
	wc	= whatchanged
[branch]
	autosetupmerge = true
[pack]
	threads = 0
[push]
	default = current
[github]
	user = cire831
	token = f3c537f943257b0f96e581e1262229b8
[giggle]
	main-window-maximized = false
	main-window-geometry = 1210x1145+2560+125
	history-view-vpane-position = 804
	main-window-view = HistoryView
	show-graph = true
	file-view-vpane-position = 1051
