# Emacs temporary files
*~
\#*\#
.\#*
*.elc

# Emacs directories and session files
.emacs.d/auto-save-list/
.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/backups/
.emacs.d/session.*
.emacs.d/tramp
.emacs.d/history
.emacs.d/.lsp-session-v1
.emacs.d/ido.last
.emacs.d/ido.last~
.emacs.d/bookmarks.old

# Other temporary files
*.tmp
*.swp
.DS_Store

*.[oa]
*~
#*#
.#*
TAGS

# Compiled
*.elc

# Packaging
.cask
/.emacs.d/custom.el
/.emacs.d/transient/
/.emacs.d/elpa/
/.emacs.d/elpy/
/.emacs.d/ido.last
/.emacs.d/network-security.data
